@font-face {
    font-family: 'Karla';
    src: url('../assets/Karla/Karla-VariableFont_wght.ttf') format('truetype');
  }
  
  body {
    font-family: 'Karla', sans-serif;
  }

.bg-gray-vidmentor-secondary{
    background-color: #353535;
}

.header-navigat:hover {
    background-color: #353535;
  }

  .bg-red-vidmentor-secondary{
    background-color: #F24B4B;
  }
  
  .color-red-vidmentor-secondary{
    color: #F24B4B;
  }
  .bg-red-vidmentor-secondary:hover{
    background-color: #FF2525;
  }
  
  .bg-red-vidmentor-secondary-2{
    background-color: #FF2525;
  }
  
  .border-forms-vidmentor-gray-primary{
    border: 1px solid #181818;
  }
  
  .border-bottom-red-vidmentor-secondary{
    border-bottom: 1px solid #FF2525;
  }

  .bg-gray-vidmentor-cuat{
    background-color: #181818;
  }

  .bg-gray-vidmentor-5{
    background-color: #1d1d1d;
  }

  .hover-sidebar-item:hover{
    background-color: #2e2e2e;
  }

  .bg-gray-vidmentor-primary{
    background-color: #282828;
  }