@font-face {
  font-family: 'Karla';
  src: url('../assets/Karla/Karla-VariableFont_wght.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  background-color: #282828;
  font-family: 'Karla', sans-serif;
}
.bg-gray-vidmentor-primary{
  background-color: #282828;
}

.bg-gray-vidmentor-5{
  background-color: #1d1d1d;
}

.hover-sidebar-item:hover{
  background-color: #2e2e2e;
}

.bg-gray-vidmentor-terciary{
  background-color: #555555;
}


.bg-blue-vidmentor-secondary{
  background-color: #00cfff;
}

.bg-blue-vidmentor-secondary:hover{
  background-color: #00aeff;
}

.bg-gray-vidmentor-secondary{
  background-color: #353535;
}

.header-navigat:hover {
  background-color: #353535;
}

.bg-red-vidmentor-secondary{
  background-color: #F24B4B;
}

.bg-red-vidmentor-secondary:hover{
  background-color: #FF2525;
}

.bg-red-vidmentor-secondary-2{
  background-color: #FF2525;
}

.border-forms-vidmentor-gray-primary{
  border: 1px solid #181818;
}

.border-bottom-red-vidmentor-secondary{
  border-bottom: 1px solid #FF2525;
}

.bg-gray-vidmentor-cuat{
  background-color: #181818;
}

.ideas-add-button{
  text-align: center;
  width:100%;
  color: #fff;
  background-color:#F24B4B;
  border-radius: 0;
}

.logo-min {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  margin-left: 10px;
}

.bg-gray-light {
  background-color: #353535;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}

.btn-color-red {
  background-color: #F24B4B;
  color: white;
}




.background-section {
  background-image: url('../assets/diseños.png');
  background-size: cover;
  background-position: center center;
  margin-top: -286px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  margin-top: -47px;
}

.img-text {
  position: relative;
  font-size: 80px;
  top: 286px;
  left: 100px;
  z-index: 1;
}

.img-stroke {
  position: relative;
  bottom: 190px;
  left: 30px;
  z-index: 0;
}

.row-left {
  height: 93.1vh;
}

.bg-row-login {
  background-image: url('../assets/diseño\ 3.png');
  background-color: #303030;
}

.img-logo-big {
  width: 200px;
  height: 140px;
}

.row-login {
  font-weight: 100;
  margin-left: 20px;
}

.row-login b {
  font-weight: 700;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #D9D9D9;
  opacity: 20%;
}

.form {
  color: white;
}

.link-log {
  color: #FF5858;
  text-decoration: none;
  cursor: pointer;
}

.btn-login {
  background-color: #FF2525;
  color: white;
}

.google-logo {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  left: 53.6%;
  top: 67.3%;
}

#results {
  color: white;
}

.add-button {
  display: inline-block;
}

.titulo-formulario-video {
  color: white;
}

.formulario-video,
.formulario-tareas {
  border-radius: 10px;
  padding: 25px;
  background-color: #181818;
}

.formulario-video label,
.formulario-tareas label {
  color: white;
}

.formulario-video hr {
  color: white;
}

.formulario-video input,
.formulario-video textarea {
  display: block;
  width: 100%;
  border: 0;
  padding: 10px 5px;
  background: #181818 no-repeat;
  color: #fff;
  /* Añade color de texto */

  /* 2 imgs : 1px gray line (normal state) AND 2px green line (focus state) */
  background-image: linear-gradient(to bottom, #FF2525, #FF5858), linear-gradient(to bottom, silver, silver);
  /* sizes for the 2 images (default state) */
  background-size: 0 2px, 100% 1px;
  /* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
  background-position: 50% 100%, 50% 100%;

  /* animation solely on background-size */
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  outline: none;
  /* Eliminar contorno azul */
}

.formulario-video input:focus,
.formulario-video textarea:focus {
  background: #181818 no-repeat;
  /* sizes for the 2 images (focus state) */
  background-size: 100% 2px, 100% 1px;
  outline: none !important;
  /* Eliminar contorno azul de manera explícita */
}

.formulario-video input::placeholder,
.formulario-video textarea::placeholder {
  color: #999;
  /* Color del texto del placeholder */
}

#thumbnails {
  display: flex;
  justify-content: space-evenly;
  /* Separación uniforme */
  flex-wrap: wrap;
  gap: 10px;
  /* Espacio entre las miniaturas */
}

/* Estilo para los contenedores de miniaturas */
.thumbnail-container {
  flex: 1;
  /* Los contenedores ocupan el mismo ancho */
  max-width: 200px;
  /* Ancho máximo de cada miniatura */
  text-align: center;
  /* Centra el contenido */
}

/* Estilo para los radio buttons */
.radio-button {
  display: block;
  /* Colocar los radio buttons en una línea */
}

.titulo-formulario-tareas {
  color: #fff;
}

.formulario-tareas label {
  margin-bottom: 5px;
}

.form-check-input:checked {
  background-color: #F24B4B;
}

.color-white {
  color: #fff;
}

.menu-horizontal-forms {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.menu-horizontal-forms li {
  margin-right: 20px;
  padding-bottom: 5px;
  cursor: pointer;
}

.menu-horizontal-forms li.active {
  border-bottom: 2px solid red;
}

.title-form-inner:disabled {
  color: #303030;
}

.calendar {
  color: #fff;
  border: 1px solid #ccc;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

/* Cambios en el CSS */
/* CSS */
.calendar-body {
  display: flex;
  flex-wrap: wrap;
}

.calendar-row {
  display: flex;
  /* Eliminar esta línea para que las filas se organicen horizontalmente */
  /* flex-direction: column; */
}

.calendar-day {
  width: 40px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  flex: 1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.highlighted {
  background-color: red;
  /* Cambia a cualquier color que desees */
}

.hover_mark {
  position: absolute;
  z-index: 9999;
  /* Asegura que la tarjeta esté encima de otros elementos */
  pointer-events: none;
  /* Permite que los eventos pasen a través de la tarjeta */
  top: -70px;
  /* Ajusta la posición hacia arriba para que la tarjeta esté encima del día */
  left: -80px;
  /* Ajusta la posición en la parte izquierda del calendario */
  width: 200px;
  height: auto;
  background-color: white;
  color: #000;
  border: 1px solid black;
  padding: 5px;
}


/* index */

@font-face {
  font-family: 'Karla';
  src: url('../assets/Karla/Karla-VariableFont_wght.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  background-color: #282828;
  font-family: 'Karla', sans-serif;
}

.logo-min {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  margin-left: 10px;
}

.background-section {
  background-image: url('../assets/diseños.png');
  background-size: cover;
  background-position: center center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.img-text {
  position: relative;
  font-size: 80px;
  top: 286px;
  left: 100px;
  z-index: 1;
}

.img-stroke {
  position: relative;
  bottom: 190px;
  left: 30px;
  z-index: 0;
}

.main-content {
  position: relative;
}

.main-content h1 {
  position: relative;
  z-index: 10;
}

.main-content img {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.custom-overlay {
  background: linear-gradient(45deg, rgba(33, 33, 33, 0.7), rgba(33, 33, 33, 0.3));
}

.main-background {
  background-image: url('assets/diseños.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .main-background {
    background-image: none;
    background-color: blue;
  }
}

@media (max-width: 640px) {
  .main-background {
    background-image: none;
    background: linear-gradient(to right, #333333, #212121);
  }

  .text-left {
    text-align: center !important;
    margin-top: 0 !important;
  }
}

section#contact {
  background-size: 200% 200%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-2s {
  animation-delay: 2s;
}

.delay-3s {
  animation-delay: 3s;
}

.delay-4s {
  animation-delay: 4s;
}

.slick-slide {
  transition: transform 0.5s ease;
}

.slick-slide:hover {
  transform: scale(1.1);
}

body {
  background-color: #212121;
}

h1,
h2,
h3,
p,
a {
  color: #ffffff;
}

.bg-dark {
  background-color: #333333;
}

.text-red {
  color: #E53935;
}

.text-blue {
  color: #1E88E5;
}

.text-black {
  color: #212121;
}

nav a:hover {
  color: #ffffff;
  background-color: #444444;
  border-radius: 0.25rem;
}

nav a {
  transition: color 0.3s, background-color 0.3s;
}

.btn-hover {
  transition: transform 0.3s, background-color 0.3s;
}

.btn-hover:hover {
  transform: translateY(-0.25rem);
  background-color: #d32f2f;
}

.mobile-menu-toggle {
  transition: transform 0.3s;
}

.mobile-menu-toggle:hover {
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .text-center h1 {
    font-size: 2.5rem;
  }

  .text-center .btn-hover {
    margin-top: 2rem;
  }
}

@media (max-width: 640px) {
  .text-center h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .text-center .btn-hover {
    margin-top: 2rem;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .text-center h1 {
    font-size: 4rem;
  }

  .text-center .btn-hover {
    margin-top: 3rem;
  }
}

/* Estilos para las secciones Brands e Influencers */
.section-common {
  padding: 5rem 0;
  background: linear-gradient(to right, #333333, #212121);
  text-align: center;
  color: #fff;
}

.section-common h2 {
  color: #E53935;
  font-size: 3rem;
  margin-bottom: 2rem;
  animation: fadeIn 1s ease-in-out forwards;
}

.section-common p {
  font-size: 1.125rem;
  max-width: 800px;
  margin: 0 auto 2rem auto;
  animation: fadeIn 1s ease-in-out forwards 1s;
}

.card {
  background-color: #444444;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s;
  margin: 1rem;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  background-color: #555555;
}

.card img {
  max-height: 150px;
  margin: 0 auto 1rem auto;
}

.card h3 {
  font-size: 1.25rem;
  color: #E53935;
  margin-top: 1rem;
}

.card p {
  font-size: 1rem;
  color: #ddd;
}